doctype html
block content
html
  head
    title= title
    link(rel='stylesheet', type="text/css", href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type="text/css" href='/stylesheets/bootstrap.css')
    link(href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css')
    link(href='css/animate.css' rel='stylesheet' type='text/css')
  body
  section(class="full-height text-center" id="main-content")
  div(class="data")
  div(class="col-md-3 center-block no-float top-space")
  img(src="images/nodejs.png" class="animated fadeIn")
   